NEXT_PUBLIC_CLERK_SIGN_UP_URL="/pt/sign-up"
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/pt/sign-in"
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
DATABASE_URL=""